[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fasta"]
	path = fasta
	url = https://github.com/cran/fasta
[submodule "splitFeas"]
	path = splitFeas
	url = https://github.com/cran/splitFeas
